
<div class="container">
    <div class="row">
        <div class="col-11">
            <div class="jumbotron jumbotron-fluid"  id="addJobs">
        <h1>Add A Job</h1>
        <p>Your contact email will be shared with registered users to apply to your job.</p>
        <hr>
        <br>
    <form action="/jobs/add" method="POST" id="add">
        <div class="form-group">
            <label for="title">Job Title:</label>
            <input type="text" name="title" id="title" class="form-control" placeholder="Small website, React developer"
            maxlength="100" value={{title}}>
        </div>
        <div class="form-group">
        <label for="technologies">Technologies Needed:</label>
        <input type="text" name="technologies" id="technologies" class="form-control" placeholder="javascript, react, PHP"
        maxlength="100" value={{technologies}}>
        </div>
        <div class="form-group">
            <label for="budget">Salary:</label>
            <input type="number" name="budget" id="budget" class="form-control" placeholder="500, 5000, 10000 ..." value={{budget}}>
        </div>
        <div class="form-group">
            <label for="description">Job Description:</label>
            <textarea name="description" id="description" class="form-control" placeholder="Describe the details of the job"
            rows="10" >{{description}}</textarea>
        </div>
        <div class="form-group">
            <label for="email">Contact Email:</label>
            <input type="email" name="email" id="email" class="form-control" placeholder="Enter an email"
            {{email}}>
        </div>
        <input type="submit" value="Add Jobs" class="btn btn-primary">
            {{#each errors}}
                <div class="error">
                <p>{{text}}</p>
                </div>
            {{/each}}
        </form>
            </div>
        </div>
    </div>
</div>

